[data-tag-name="legit"]:link,
[data-tag-name="legit"]:visited,
[data-tag-name="legit"].bullet:before {
    background-color: green;
    color: white;
    border-radius: 5px;
}

[data-tag-name="rage"]:link,
[data-tag-name="rage"]:visited,
[data-tag-name="rage"].bullet:before {
    background-color: red;
    color: white;
}

.discourse-tag{
    border-radius: 5px;
}