[data-tag-name="legit"]:link,
[data-tag-name="legit"]:visited,
[data-tag-name="legit"].bullet:before {
    background-color: green;
    color: white;
    border-radius: 5px;
}

[data-tag-name="rage"]:link,
[data-tag-name="rage"]:visited,
[data-tag-name="rage"].bullet:before {
    background-color: red;
    color: white;
}

.discourse-tag{
    border-radius: 5px;
    color: white;
}

div.sidebar-section-header-wrapper.sidebar-row{
    font-size: 18px;
}

a.badge-category__wrapper {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0px 8px 0px 8px;
}